.BlurbFourteen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.BlurbFourteen h2 {
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: #303234;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.BlurbFourteen p {
  font-family: Raleway-Medium;
  font-size: 18px;
  color: #747e80;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
}
