.Header {
  display: flex;
  justify-content: flex-end;
}

.Header a {
  font-family: Raleway-SemiBold;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 2px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.Header a:nth-child(4) {
  margin-right: 0px;
  padding-right: 0px;
}
