.BenefitsSection {
  margin: 100px 30px;

  background: #fff;
  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "five five five"
    "six seven eight";
}

.BlurbFive {
  margin: 20px;

  grid-area: five;
}

.BlurbSix {
  margin: 20px;

  grid-area: six;
}

.BlurbSeven {
  margin: 20px;

  grid-area: seven;
}

.BlurbEight {
  margin: 20px;
  grid-area: eight;
}
