.TechnicalProofSection {
  background-image: url(../Assets/TechnicalProofBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 30px 50px 30px;
  padding: 100px 0;
  vertical-align: center;
}

#TechProofBlurb h2 {
  font-family: Raleway-Black;
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 50px;
  text-transform: inherit;
}

#TechProofBlurb p {
  opacity: 0.7;
  font-family: Raleway-Medium;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
