.SoneHeader {
  display: flex;
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  justify-content: flex-end;
}

.SoneHeader a {
  font-family: Raleway-SemiBold;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 2px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
