.FreeTrialSection {
  background-image: url(./Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  vertical-align: center;

  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  justify-items: center;
  align-items: center;
  grid-template-areas: "texts signup";
}

.TextFive {
  grid-area: texts;
}

.SignUp {
  grid-area: signup;
}
