.BlurbOne h2 {
  text-transform: uppercase;
  font-family: Raleway-Bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1.75px;
}

.BlurbOne p {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 22px;
}
