.BlurbFour {
  display: flex;
  flex-direction: column;
}
.BlurbFour h2 {
  font-family: Raleway-Black;
  font-size: 44px;
  color: #303234;
  letter-spacing: -0.24px;
  line-height: 50px;
}

.BlurbFour p {
  font-family: Raleway-Medium;
  font-size: 18px;
  color: #747e80;
  letter-spacing: 0;
  line-height: 28px;
  padding: 5px;
}

.BlurbFour li {
  padding: 10px;
  font-family: Raleway-Medium;
  font-size: 18px;
  color: #747e80;
  letter-spacing: 0;
  line-height: 28px;
}
